<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="tours content">
    <h2>All Tours</h2>

    <% if (tours.length > 0) { %>
      <% tours.forEach(tour => { %>
        <a class="single" href="/tours/<%= tour._id %>">
          <h3 class="title"><%= tour.title %></h3>
          <p class="snippet"><%= tour.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no tours to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>